<ion-view view-title="餐厅">
    <ion-content class="has-header-home">
        <div class="nav">
            <button class="button button-dark button-clear" ui-sref="tabs.home">首页</button>
            <button class="button button-dark button-clear" ui-sref="tabs.bedroom">卧室</button>
            <button class="button button-dark button-clear" ui-sref="tabs.livingroom">客厅</button>
            <button class="button button-dark button-clear" ui-sref="tabs.restaurant">餐厅</button>
            <button class="button button-dark button-clear" ui-sref="tabs.study">书房</button>
            <button class="button button-dark button-clear" ui-sref="tabs.kitchen">厨房</button>
        </div>
        <div class="recommendation">
            <div class="card card-mar" ui-sref="details">
                <img src="images/xsds-3.jpg">
                <p>马戈贵妃沙发 丝绒面料 实木 <span>￥ 1999.00</span></p>
            </div>
        </div>
        <div class="recommendation">
            <ion-list>
                <div class="row" style="flex-wrap: wrap;">
                    <div class="col-50 card card-mars">
                        <img src="images/xsds-3.jpg">
                        <p>马戈贵妃沙发</p>
                    </div>
                    <div class="col-50 card card-mars">
                        <img src="images/xsds-3.jpg">
                        <p>马戈贵妃沙发</p>
                    </div>
                    <div class="col-50 card card-mars">
                        <img src="images/xsds-3.jpg">
                        <p>马戈贵妃沙发</p>
                    </div>
                    <div class="col-50 card card-mars">
                        <img src="images/xsds-3.jpg">
                        <p>马戈贵妃沙发</p>
                    </div>
                </div>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
