<ion-view hide-nav-bar="true">
    <!--<ion-content>-->
    <ion-slide-box>
        <ion-slide>
            <div class="tour"></div>
        </ion-slide>
        <ion-slide>
            <div class="tour tour1"></div>
        </ion-slide>
        <ion-slide>
            <div class="tour tour2"></div>
        </ion-slide>
        <ion-slide>
            <div class="tour tour3">
                <div class="row">
                    <button ui-sref="tabs.home">进入唯一</button>
                </div>
            </div>
        </ion-slide>
    </ion-slide-box>
    <!--</ion-content>-->
</ion-view>
